<div class="jumbotron">
    <h1>Web Scraping</h1>
    <p class="lead">Project with API that returns the total number of lines and the total number of bytes of all files in a given public Github repository, grouped by file extension.</p>
    <p>@Html.ActionLink("Help API", "Index", "Help", new { area = "" }, null)</p>
</div>

